# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test coverage reports
.coverage
htmlcov/

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Django stuff
*.sqlite3
db.sqlite3
/media/
staticfiles/

# Docker
docker-compose.override.yml

# Environment variables
.env
.env.*  
